@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

* {
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  margin: 0;
  padding: 0;
  text-align: center;
}

.principal {
  align-items: center;
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  align-items: center;
  background-color: aliceblue;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.title {
  font-size: xx-large;
}

.s-btn,
.s-result,
.s-score {
  margin-top: 3rem;
}

.s-btn {
  display: flex;
  gap: 2.5rem;
}

.btn {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 3.75rem;
  height: 7rem;
  padding: 0.625rem;
  transition: opacity 0.3s ease-in-out;
  width: 7rem;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.btn:active {
  opacity: 0.3;
  transition: 0.5s;
}

#stone {
  background-color: purple;
}

#paper {
  background-color: darkgreen;
}

#scissor {
  background-color: rgb(130, 224, 255);
}

.s-result,
.s-score {
  font-size: x-large;
}

.s-result p span,
.s-score p span {
  font-weight: bold;
}

.select-player,
.select-cpu {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.s-score p {
  margin-top: 0.8rem;
}

.winner span {
  color: green;
}

.player span {
  color: blue;
}

.cpu span {
  color: red;
}
